body{
    background-image:url("projet21.jpg");
    background-repeat: no-repeat;
    background-size:500px 20em ;
    background-position:center;
    width: 1950px 1000em;
    border: 3px solid black;
    margin: 0 auto;
    padding : 20px 20px 20px 20px;
    
    
}
.logo{
    margin-top: initial;
}
div{
    margin : 5%
}

h1{
    text-align: center;
    background-color:green;
         color:yellow;
    font-size: 40px;
    text-shadow: 3px 3px 1px black;
}

.cn{
    text-align: center;
    background-color: aquamarine;
    text-align-last: center;
}
.style1{
   
    line-height: 2;
    padding: 15px 24px;
     text-align: center;
     color: black;
     background-color: green;
     border-radius: 10px;
     text-shadow: 1px 1px;
     position:static;
     left:40%;
     cursor: pointer;
     display: inline-block;
}


span.reference{
    position:fixed;
    left:15px;
    bottom:10px;
    font-size:12px;
}
span.reference a{
    color:#aaa;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:1px 1px 1px #000;
    margin-right:30px;
}
span.reference a:hover{
    color:#ddd;
}

ul.sdt_menu{
    margin-top:150px;
	margin: 0;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:1040px;
}
ul.sdt_menu a{
	text-decoration:#0B75AF;
	outline:green;
}
ul.sdt_menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:85px;
	z-index:12;
    background:transparent url(projet2.jpg) no-repeat bottom right;
    /*background-color: rgb(235, 243, 245);*/
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:85px;
	z-index:12;
	background:transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}

ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}

ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color: green;
	font-size:24px;
	float:left;
	clear:both;
}
ul.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:170px;
	top:85px;
	left:0px;
	display:none;
	background:#000;
}
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}
.item{
    background-color: white;
    padding : 20px;
    margin : 5px;
}
footer{
    background-color:rgb(58, 51, 51);
    color:yellow;
    position:initial;
    width: 100%;
    padding-top: 50px;
    height:50px;
    text-align: center;
}
.style2{
    color:white;
    text-align: center;
    text-decoration:wavy;
    line-height: 0;
    font-size: 20px;
}